table {
    width: 50%;
    margin: auto;
    margin-top: 40px;

    tr.example-detail-row {
        height: 0;
    }

    tr.example-element-row:not(.example-expanded-row):hover {
        background: whitesmoke;
    }

    tr.example-element-row:not(.example-expanded-row):active {
        background: #efefef;
    }

    .example-element-row td {
        border-bottom-width: 0;
    }

    .example-element-detail {
        overflow: hidden;
        display: flex;
    }

    .example-element-diagram {
        width: 500px;
        border: 2px solid #3333;
        padding: 8px;
        font-weight: lighter;
        margin: 8px 0;
        height: 180px;
    }

    .example-element-symbol {
        font-weight: bold;
        font-size: 40px;
        line-height: normal;
    }

    .example-element-description {
        padding: 16px;
    }

    .example-element-description-attribution {
        opacity: 0.5;
    }

    .input-container {
        display: flex;
    }

    .username-input-wrapper {
        margin-left: 20px;
    }

    .password-input-wrapper {
        margin-left: 55px;
    }

    .email-input-wrapper {
        margin-left: 20px;
    }

    .firstname-input-wrapper {
        margin-left: 55px;
    }

    .update-btn {
        margin-left: 20px;
    }
}